[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flower = "==1.0.0"
gunicorn = "==19.9.0"
redis = "==3.2.1"
Flask = "==1.0.2"
celery = "*"
kombu = "*"

[dev-packages]

[requires]
python_version = "3.9"
